/*body{
  font-family: "Raleway", Arial, sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #7f7f7f !important;
  line-height: 1.7px !important;
}*/
/*@font-face{
  font-family: 'Lato';
  src: url('../../Philosopher/Philosopher-Bold.ttf');
  src: url('../../Philosopher/Philosopher-BoldItalic.ttf');
  src: url('../../Philosopher/Philosopher-Italic.ttf');
  src: url('../../Lato/Lato-Regular.ttf');
}*/
.text{
  font-family: 'Lato';
  font-weight: 400 !important;
  font-size: 16px !important;
  color: #7f7f7f; !important;
  line-height: 1.65;
  -webkit-font-smoothing: antialiased;

}


.front-page{
    background-image: url('../img/robot.jpg');
    background-repeat: no-repeat;
    background-size: cover !important;
    position: relative;
    padding-top: 198px;
    padding-bottom: 30%;
    overflow-x: hidden;
    background-attachment: fixed !important;
    background-blend-mode: normal !important;

}
.navbar{
  position: absolute;
  margin-top: -180px;
}

.services-icon i{
  font-size: 40px;
  color: #10a8b5;
}
.social-icon{
  font-size: 30px !important;
  padding: 15px !important;
  color: #808782;
  margin-left: -15px;
}
.social-icon i:hover{
  color: #10a8b5;
}

/* Removes the default 20px margin and creates some padding space for the indicators and controls */
.carousel {
    margin-bottom: 0;
  padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
  left: -15px;
  width: 4% !important;
  top: 94px !important;
}
.carousel-control.right {
  right: -15px;
  background:##10a8b5 !important;
}
.carousel-control.left {
  left: -15px;
  background:#10a8b5 !important;
  
}
/* Changes the position of the indicators */
.carousel-indicators {
  right: 50%;
  top: auto;
  left: 77% !important;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
  background: #c0c0c0;
}
.carousel-indicators .active {
background: #10a8b5 !important;
}

#portfolio{
 /* background-color: #f6f3f3;*/
  padding-top: 20px;
  padding-bottom: 50px;
}
#product{
  padding-bottom: 20px;
  color: blue;
}

.download{
  background-color: #10a8b5 !important;
  border-radius: 0px;
  color: white;
  width: 150px;
  font-size: 19px;
  text-decoration: none;
}

/*/*body
{
  background-color:#eee
}
.wrap
{
  margin:50px auto 0 auto;
  width:100%;
  display:flex;
  align-items:space-around;
  max-width:1200px;
}
.tile
{
  width:380px;
  height:380px;
  margin:10px;
  background-color:#99aeff;
  display:inline-block;
  background-size:cover;
  position:relative;
  cursor:pointer;
  transition: all 0.4s ease-out;
  box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.44);
  overflow:hidden;
  color:white;
  font-family:'Roboto';
  
}
.tile img
{
  height:100%;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  z-index:0;
  transition: all 0.4s ease-out;
}
.tile .text
{
/*   z-index:99; */
  position:absolute;
  padding:30px;
  height:calc(100% - 60px);
}
.tile h1
{
 
  font-weight:300;
  margin:0;
  text-shadow: 2px 2px 10px rgba(0,0,0,0.3);
}
.tile h2
{
  font-weight:100;
  margin:20px 0 0 0;
  font-style:italic;
   transform: translateX(200px);
}
.tile p
{
  font-weight:300;
  margin:20px 0 0 0;
  line-height: 25px;
/*   opacity:0; */
  transform: translateX(-200px);
  transition-delay: 0.2s;
}
.animate-text
{
  opacity:0;
  transition: all 0.6s ease-in-out;
}
.tile:hover
{
/*   background-color:#99aeff; */
box-shadow: 0px 35px 77px -17px rgba(0,0,0,0.64);
  transform:scale(1.05);
}
.tile:hover img
{
  opacity: 0.2;
}
.tile:hover .animate-text
{
  transform:translateX(0);
  opacity:1;
}
.dots
{
  position:absolute;
  bottom:20px;
  right:30px;
  margin: 0 auto;
  width:30px;
  height:30px;
  color:currentColor;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-around;
  
}

.dots span
{
    width: 5px;
    height:5px;
    background-color: currentColor;
    border-radius: 50%;
    display:block;
  opacity:0;
  transition: transform 0.4s ease-out, opacity 0.5s ease;
  transform: translateY(30px);
 
}

.tile:hover span
{
  opacity:1;
  transform:translateY(0px);
}

.dots span:nth-child(1)
{
   transition-delay: 0.05s;
}
.dots span:nth-child(2)
{
   transition-delay: 0.1s;
}
.dots span:nth-child(3)
{
   transition-delay: 0.15s;
}


@media (max-width: 1000px) {
  .wrap {
   flex-direction: column;
    width:400px;
  }
}